version: '3'
services:
  api:
    build: .
    ports:
      - 7006:7006
    depends_on:
      - mongodb
    environment:
      - APP_NAME=Plot Board My Games Service
      - MONGO_DB_URL=mongodb://mongodb:27017/plotboard-db
      - PORT=7006
      - JWT_SECRET=plotboard-secret
      - JWT_EXPIRATION_TIME=3600s
      - JWT_AFTER_EXPIRED_MAX_ALLOWED_TIME=900
      - LOG_LEVEL=info
      - SWAGGER_CONTACT_NAME=Plot Board
      - SWAGGER_CONTACT_URL=http://plotboard.com
      - SWAGGER_CONTACT_EMAIL=jitender@plotboard.com
    env_file:
      - .env
    networks:
      - my-network

  mongodb:
    image: mongo
    ports:
      - 27017:27017
    volumes:
      - ./data:/data/db
    networks:
      - my-network

networks:
  my-network:
    driver: bridge
